mat-tab-group {
  width: 100%;
  max-width: 100%;
  margin: auto;
  background: #121212;
  backdrop-filter: blur(10px); /* Vidrio esmerilado */
  transition: all 0.3s ease-in-out;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  color: white !important;
}

// Hover
::ng-deep .mat-mdc-tab:hover .mdc-tab__text-label {
  color: #1db954 !important;
}

//Active
::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #1db954 !important;
}
::ng-deep .mat-mdc-tab.mdc-tab--active:focus .mdc-tab__text-label {
  color: #1db954 !important;
}

::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: #1db954 !important;
}
